@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Golestan;
  src: url(../fonts/IRANSansWeb-Light.eot);
  src: url(../fonts/IRANSansWeb-Light.ttf);
  src: url(../fonts/IRANSansWeb-Light.woff);
  src: url(../fonts/IRANSansWeb-Light.woff2);
}
body,
html {
  direction: rtl;
  margin: 0;
  padding: 0;
}
@layer components {
  .menu {
    @apply w-full h-[100px] bg-[red] pt-[30px] pb-[20px] sticky top-0 z-[9999];
  }
  .image-menu {
    @apply absolute w-[170px] h-[105px] right-[210px] top-[50px];
  }
  .menu-nav {
    @apply w-full h-[100px] flex flex-nowrap flex-row justify-center items-center;
  }
  .nav-item {
    @apply w-fit h-[30px] flex flex-wrap flex-row justify-center items-center relative border-l border-solid border-l-[#665F5F] mb-[30px];
  }
  .nav-link {
    @apply block w-fit py-0 px-5 no-underline text-[#c4bcbc] font-[Golestan]  text-base cursor-pointer leading-[20px] hover:text-[white] duration-300;
  }
  .nav-EN {
    @apply w-fit h-[30px] flex flex-wrap flex-row justify-center items-center mb-[30px];
  }
  .EN {
    @apply block w-fit py-0 px-5 no-underline text-[#a5a4a4] font-[Golestan] text-base cursor-pointer leading-[20px] hover:text-white duration-300;
  }
  .sub-menu {
    @apply w-[180px] h-[40vh] bg-[red] top-[70px] right-[calc(50% - 100px)] gap-y-[10px] absolute items-start pr-[15px];
  }
  .sub-sub-menu {
    @apply w-fit h-[30px];
  }
  .sub-sub-menu-item {
    @apply font-[Golestan] text-[#b5b5b5] opacity-90 hover:text-[white] duration-300;
  }
}
@layer components {
  .magazine {
    @apply w-full h-[168px] flex flex-row items-center pr-[250px] mt-[30px];
  }
  .magazine-item {
    @apply w-fit h-[50px];
  }
  .weblog {
    @apply font-[Golestan] text-[21px] text-[#8b8888] font-bold;
  }
  .cooking {
    @apply font-[Golestan] text-[red];
  }
}
@layer components {
  .products {
    @apply w-full h-fit bg-[#F7F9FB] flex flex-wrap flex-row justify-center items-center;
  }
  .products-item {
    @apply w-[65%] h-fit bg-[#F7F9FB] flex flex-row flex-wrap gap-x-4 gap-y-20 mt-[80px];
  }
  .products-box {
    @apply w-[310px] h-[600px] shadow-md;
  }
  .first-product-item {
    @apply w-[310px] h-fit;
  }
  .image-of-products {
    @apply w-[310px] h-[300px] object-cover hover:opacity-80;
  }
  .second-products-item {
    @apply w-full h-[60px] flex flex-col justify-end;
  }
  .name-of-food {
    @apply font-[Golestan] text-[20px] text-[#ed1c24] font-normal mr-[20px];
  }
  .explanation-of-food {
    @apply font-[Golestan] text-[15px] text-[#2b2b2b] opacity-70 text-justify mx-[20px] leading-7 mt-[20px];
  }
  .btm {
    @apply w-[100px] h-[40px] flex flex-col justify-center items-center border border-[lightgray] rounded-[8px] mt-[20px] mr-[20px] font-[Golestan] text-[15px] text-[#2b2b2b] opacity-80 duration-300 cursor-pointer hover:bg-[#ff0000] hover:text-white;
  }
}
@layer components {
  .products-box-movie {
    @apply w-[310px] h-fit bg-[pink];
  }
}
