@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Golestan;
  src: url(../fonts/IRANSansWeb-Light.eot);
  src: url(../fonts/IRANSansWeb-Light.ttf);
  src: url(../fonts/IRANSansWeb-Light.woff);
  src: url(../fonts/IRANSansWeb-Light.woff2);
}
body,
html {
  direction: rtl;
  margin: 0;
  padding: 0;
}
@layer base {
  h1,
  p,
  h5,
  h2 {
    @apply font-[Golestan] font-normal;
  }
}
@layer components {
  .menu {
    @apply w-full h-[100px] bg-[#2b2b2b]  sticky top-0 z-[9999];
  }
  .image-menu {
    @apply absolute w-[170px] h-[105px] right-[210px] top-[50px];
  }
  .menu-nav {
    @apply w-full h-[100px] flex flex-nowrap flex-row justify-center items-center pt-[60px] pr-[60px] relative;
  }
  .nav-item {
    @apply w-fit h-[30px] flex flex-wrap flex-row justify-center items-center border-l border-solid border-l-[#665F5F] mb-[30px];
  }
  .nav-item:hover > .sub-menu-company {
    @apply block duration-500 transition-all delay-300;
  }
  .nav-item:hover > .sub-menu-category {
    @apply block duration-500 transition-all delay-300;
  }
  .nav-item:hover > .sub-menu-weblog {
    @apply block duration-500 transition-all delay-300;
  }
  .nav-item:hover > .sub-menu-call {
    @apply block duration-500 transition-all delay-300;
  }
  .nav-link {
    @apply block w-fit py-0 px-5 no-underline text-[#c4bcbc] font-[Golestan]  text-base cursor-pointer leading-[20px] hover:text-[white] duration-300;
  }
  .sub-menu-company {
    @apply w-[180px] h-[41vh] bg-[#2b2b2b] absolute top-[83px] right-[35%]  pr-[15px] pt-[10px] hidden;
  }
  .sub-menu-category {
    @apply w-[182px] h-[70vh] bg-[#2b2b2b] absolute top-[83px] left-[45%]  pr-[15px] pt-[10px] hidden;
  }
  .sub-menu-weblog {
    @apply w-[180px] h-[35vh] bg-[#2b2b2b] absolute top-[83px] left-[38%]  pr-[15px] pt-[10px] hidden;
  }
  .sub-menu-call {
    @apply w-[180px] h-[20vh] bg-[#2b2b2b] absolute top-[83px] left-[20%]  pr-[15px] pt-[10px] hidden;
  }
  .sub-menu-item {
    @apply w-fit h-[30px];
  }
  .sub-menu-link {
    @apply font-[Golestan] text-[#b5b5b5] opacity-90 hover:text-[white] duration-300 block leading-10;
  }
  .nav-link-main {
    @apply block w-fit py-0 px-5 no-underline text-[white] font-[Golestan]  text-base cursor-pointer leading-[20px];
  }
  .nav-EN {
    @apply w-fit h-[30px] flex flex-wrap flex-row justify-center items-center mb-[30px];
  }
  .EN {
    @apply block w-fit py-0 px-5 no-underline text-[#a5a4a4] font-[Golestan] text-base cursor-pointer leading-[20px] hover:text-white duration-300;
  }
}
@layer components {
  .magazine {
    @apply w-full h-[168px] flex flex-row items-center pr-[250px] mt-[30px];
  }
  .magazine-item {
    @apply w-fit h-[50px];
  }
  .weblog {
    @apply font-[Golestan] text-[21px] text-[#8b8888] font-bold;
  }
  .cooking {
    @apply font-[Golestan] text-[red];
  }
}
@layer components {
  .products {
    @apply w-full h-fit bg-[#F7F9FB] flex flex-wrap flex-row justify-center items-center;
  }
  .products-item {
    @apply w-[65%] h-fit bg-[#F7F9FB] flex flex-row flex-wrap gap-x-4 gap-y-20 mt-[80px];
  }
  .products-box {
    @apply w-[310px] h-[600px] shadow-md;
  }
  .first-product-item {
    @apply w-[310px] h-fit;
  }
  .image-of-products {
    @apply w-[310px] h-[300px] object-cover hover:opacity-80;
  }
  .second-products-item {
    @apply w-full h-[60px] flex flex-col justify-end;
  }
  .name-of-food {
    @apply font-[Golestan] text-[20px] text-[#ed1c24] font-normal mr-[20px];
  }
  .explanation-of-food {
    @apply font-[Golestan] text-[15px] text-[#2b2b2b] opacity-70 text-justify mx-[20px] leading-7 mt-[20px];
  }
  .btm-item {
    @apply w-full h-fit;
  }
  .btm {
    @apply w-[100px] h-[40px] flex flex-col justify-center items-center border border-[lightgray] rounded-[8px] mt-[20px] mr-[20px] font-[Golestan] text-[15px] text-[#2b2b2b] opacity-80 duration-300 cursor-pointer hover:bg-[#ff0000] hover:text-white;
  }
}
@layer components {
  .footer {
    @apply w-full h-[500px] bg-[#2b2b2b] flex flex-col flex-nowrap justify-start items-center;
  }
  .footer-item {
    @apply w-[80%] h-[85%] flex flex-row flex-wrap justify-center items-center gap-x-5;
  }
  .footer-box {
    @apply w-[170px]  h-[360px] mt-[10px] flex flex-col flex-wrap justify-start items-center;
  }
  .image-of-footer {
    @apply w-[130px] h-[100px] bg-cover;
  }
  .text-of-footer {
    @apply h-[50px] border-y border-slate-300 w-full mt-[22px] flex flex-row flex-wrap justify-center items-center font-[Golestan] text-[whitesmoke];
  }
  .classification {
    @apply w-full h-[150px] flex flex-col flex-nowrap justify-start gap-y-2 mt-[30px];
  }
  .classification-items {
    @apply w-full font-[Golestan] text-[13px] text-[#a4a4a4];
  }
  .end-of-footer {
    @apply w-[80%] h-[30%] font-[Golestan] text-[14px] flex flex-col flex-wrap justify-center items-center text-[#cfcdcd] font-normal;
  }
  .span-of-footer {
    @apply font-normal text-[13px] text-[#868484];
  }
}
@layer components {
  .lottery {
    @apply w-full h-[420px] bg-gradient-to-r from-[#FBFBFB] to-[#D2D2D2] flex flex-row justify-center items-center;
  }
  .lottery-right {
    @apply w-[40%] h-[full] flex flex-col flex-wrap justify-center pr-[100px];
  }
  .heading-of-lottery {
    @apply w-fit text-[red] text-3xl mb-[10px];
  }
  .second-heading-of-lottery {
    @apply w-fit text-[#2b2b2b]  text-lg opacity-[0.8] mb-[15px];
  }
  .paragraph-of-lottery {
    @apply w-[88%] text-[#2b2b2b]  text-[15px] opacity-60 mb-[10px] leading-9;
  }
  .btm-of-lottery {
    @apply block w-[120px] h-[40px] border border-gray-300 rounded-lg font-[Golestan] text-sm text-[#2b2b2b] opacity-90 leading-10 text-center cursor-pointer mt-[15px] transition-[300ms] bg-white hover:bg-[red] hover:text-white;
  }
  .lottery-left {
    @apply w-[40%] h-[320px] flex flex-row justify-center;
  }
  .image-of-lottery {
    @apply w-[330px] h-[320px] object-cover;
  }
}
@layer components {
  .introduce {
    @apply desktop:w-full desktop:flex desktop:flex-col desktop:flex-wrap desktop:items-center desktop:justify-center desktop:mb-[70px];
  }
  .introduce-item {
    @apply desktop:w-1/2 desktop:mt-[50px];
  }
  .heading-of-introduce {
    @apply desktop:font-[Golestan] desktop:text-[red] desktop:text-xl desktop:font-bold desktop:mb-[15px];
  }
  .paragraph-of-introduce {
    @apply font-[Golestan] text-base opacity-60 leading-8 text-justify;
  }
  .other-items-of-introduce {
    @apply w-full mt-[120px] flex flex-row flex-nowrap justify-between gap-x-[15px];
  }
  .item-item-introduce {
    @apply w-[180px] h-[260px] flex flex-col flex-wrap justify-center items-center gap-x-[15px] border-b border-solid border-gray-400;
  }
  .image-of-introduce {
    @apply w-[180px] h-[180px] object-cover;
  }
  .caption-of-introduce {
    @apply font-[Golestan] text-base text-[#2b2b2b] opacity-60 font-normal mt-[20px];
  }
}
@layer components {
  .rice-container {
    @apply w-full h-[500px] bg-[#E9D69F] flex flex-col flex-nowrap justify-start mt-[18px] relative;
  }
  .image-of-container {
    @apply object-cover w-full h-[480px];
  }
  .little-red-box {
    @apply w-[300px] h-[100px] bg-[#ED1C24] flex flex-col flex-nowrap justify-start items-start pt-[10px] pr-[30px] absolute left-[57%] bottom-0 gap-y-[13px];
  }
  .text-in-box {
    @apply font-[Golestan] text-[whitesmoke] text-3xl font-normal;
  }
  .span-in-box {
    @apply font-[Golestan] text-[whitesmoke] text-sm font-normal;
  }
}
@layer components {
  .persian {
    @apply w-full h-[400px] flex flex-row flex-wrap justify-center items-center;
  }
  .persian-item {
    @apply w-[48%] h-[350px] mt-[25px];
  }
  .heading-of-persian {
    @apply font-[Golestan] text-xl font-bold text-[red] mb-[15px];
  }
  .paragraph-of-persian {
    @apply font-[Golestan] text-[15px] text-[#2b2b2b] opacity-70 leading-9 text-justify;
  }
  .btn-of-persian {
    @apply w-[140px] h-[40px] font-[Golestan] text-[16px] border border-gray-300 rounded-[8px] bg-[white] mt-[20px] text-[#888888] duration-300 hover:text-[white] hover:bg-[red];
  }
}
@layer components {
  .box-tea {
    @apply w-full h-[500px] bg-[#e9d69f] flex flex-col flex-wrap justify-start relative;
  }
  .image-of-box {
    @apply w-full h-[480px] object-cover;
  }
}
@layer components {
  .history {
    @apply w-full h-[450px] flex flex-row flex-wrap justify-center;
  }
  .history-items {
    @apply w-[45%] h-[450px];
  }
  .history-first-item {
    @apply w-full h-[50%] pt-[30px] pr-[20px];
  }
  .heading-of-history {
    @apply font-[Golestan] text-[20px] text-[#ff0000] mb-[10px] font-bold;
  }
  .paragraph-of-history {
    @apply font-[Golestan] text-[15px] text-[#2b2b2b] opacity-70 text-justify leading-[35px];
  }
  .history-second-item {
    @apply w-full h-[50%] pr-[20px];
  }
  .btn-of-history {
    @apply w-[140px] h-[40px] font-[Golestan] text-[16px] border border-gray-300 rounded-[8px] bg-[white] mt-[20px] text-[#888888] duration-300 hover:text-[white] hover:bg-[red];
  }
}
@layer components {
  .pistachio {
    @apply w-full h-[500px] bg-[#e9d69f] flex flex-col flex-nowrap justify-start mt-[18px] relative;
  }
  .image-of-pistachio {
    @apply object-cover w-full h-[480px];
  }
  .pictachio-items {
    @apply w-[300px] h-[100px] bg-[#ed1c24] flex flex-col flex-nowrap justify-start items-start pt-[10px] pr-[30px] absolute left-[57%] bottom-0 gap-y-[13px];
  }
  .heading-of-pistachio {
    @apply font-[Golestan] text-[whitesmoke] text-[26px] font-normal;
  }
  .span-of-pistachio {
    @apply font-[Golestan] text-[whitesmoke] text-[14px];
  }
}
@layer components {
  .nuts {
    @apply w-full h-[450px] flex flex-row flex-wrap justify-center;
  }
  .nuts-items {
    @apply w-[45%] h-[450px];
  }
  .nuts-first-item {
    @apply w-full h-[50%] pt-[30px] pr-[20px] flex flex-col flex-wrap justify-center;
  }
  .heading-of-nuts {
    @apply font-[Golestan] text-[20px] text-[#ff0000] mb-[10px] font-bold;
  }
  .paragraph-of-nuts {
    @apply font-[Golestan] text-[16px] text-[#2b2b2b] opacity-70 text-justify leading-8;
  }
  .nuts-second-item {
    @apply w-full h-[50%] pr-[20px];
  }
  .btn-of-nuts {
    @apply w-[140px] h-[40px] font-[Golestan] text-[16px] border border-gray-300 rounded-[8px] bg-[white] mt-[20px] text-[#888888] duration-300 hover:text-[white] hover:bg-[red];
  }
}

